@inherits ModuleBase
<h3>Index</h3>

<div class="my-component">
    This Blazor component is defined in the <strong>Oqtane.Modules.TestModule</strong> package.
    <p>THIS IS ALSO FROM OQTANE.MODULES.TESTMODULE</p>
</div>


@code {

}
